{
    "_comment": "Duplicate this file, rename it to 'config.json', and replace 'CHANGE ME' with your LAN facing IPv4 address.",
    "server": {
        "host": "CHANGE ME",
        "port": "3000"
    },
    "database": {
        "username": "admin",
        "password": "bNGtOFxi3UTcv81W",
        "url": "cometconnect.cuwtjrg.mongodb.net/user_info"
    }
    "email": {
        "service": "gmail",
        "user": "comet.connect.project@gmail.com",
        "password": "CHANGE ME",
        "forgot_pw_subject_line": "Comet Connect Verification Code",
        "forgot_pw_email_body": "Your password for Comet Connect has been requested to be resest.\nYour request will expire in 2 minutes.\nHere is the verification code.\n\n"
    }
}